MINIO_ROOT_USER=seu_usuario
MINIO_ROOT_PASSWORD=sua_senha
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000

AWS_ACCESS_KEY_ID=seu_usuario
AWS_SECRET_ACCESS_KEY=sua_senha

# Banco de Dados (Postgres para o MLflow)
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=nome_dobanco

INTERNAL_S3_ENDPOINT=http://minio:9000

JAVA_HOME=/usr/lib/jvm/java-1.11.0-openjdk-amd64
